h1 {
    clear: both;
}
ul {
    overflow: auto;
    border: 1px solid grey;
    padding: 0;
    margin: 0;
    height: 150px;
}
li {
    margin: 0;
    margin-top: 1px;
    list-style-type: none;
    padding: 8px 16px;
    height: 20px;
}
li:first-child {
    margin-top: 0;
}
.source {
    float: right;
    margin: 10px;
}
pre {
    margin: 0;
}